@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
.game-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1254px;
  height: 774px;
  background: #984b5a;
  -webkit-box-shadow: 1px 1px 15px 2px rgba(144, 97, 113, 0.4);
          box-shadow: 1px 1px 15px 2px rgba(144, 97, 113, 0.4);
  border-radius: 53px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin: 22px 0px;
}

@media (max-width: 1224px) {
  .game-window {
    width: 1175px;
    height: 774px;
  }
}

@media (max-width: 768px) {
  .game-window {
    width: 797px;
    height: 935px;
    padding: 2rem 0px;
  }
}

@media (max-width: 430px) {
  .game-window {
    width: 360px;
    height: 665px;
  }
}

.game-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1254px;
  height: 657px;
}

@media (max-width: 1224px) {
  .game-top {
    width: 1175px;
    height: 774px;
  }
}

@media (max-width: 768px) {
  .game-top {
    width: 797px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 430px) {
  .game-top {
    width: 360px;
    height: 665px;
  }
}

.score,
.high-score {
  width: 334px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 31px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: #fe7b1d;
}

@media (max-width: 768px) {
  .high-score {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 768px) {
  .score {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.holes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  justify-items: center;
}

@media (max-width: 768px) {
  .holes {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: 560px;
    width: 616px;
  }
}

@media (max-width: 430px) {
  .holes {
    width: 321px;
    height: 423px;
    grid-gap: 3rem;
  }
}

.hole {
  position: relative;
  overflow: hidden;
  background-image: url("../assets/hole.png");
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

@media (max-width: 430px) {
  .hole {
    width: 68.77px;
    height: 68.77px;
    background-size: 68.77px;
  }
}

.game-btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1254px;
  height: 117px;
}

@media (max-width: 768px) {
  .game-btm {
    width: 797px;
  }
}

@media (max-width: 430px) {
  .game-btm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;
    height: 100px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.btn-pri1-sec {
  height: 55.6px;
  width: 313px;
  background: #ff8f57;
  color: #5a3d47;
  border-radius: 66px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-pri1-sec:hover {
  background: #ff6d24;
}

.dis-btn {
  display: none;
}

.mole {
  position: absolute;
  bottom: -5px;
  z-index: 1;
  height: 100px;
  -webkit-animation: appear 0.3s linear;
          animation: appear 0.3s linear;
  pointer-events: none;
}

@media (max-width: 430px) {
  .mole {
    height: 55px;
  }
}

@-webkit-keyframes hit {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes hit {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@-webkit-keyframes appear {
  from {
    bottom: -60px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes appear {
  from {
    bottom: -60px;
  }
  to {
    bottom: 0px;
  }
}

::-moz-selection {
  color: #5a3d47;
  background: #fe7b1d;
}

::selection {
  color: #5a3d47;
  background: #fe7b1d;
}

/* Code for Firefox */
::-moz-selection {
  color: #5a3d47;
  background: #fe7b1d;
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0px;
  margin: 0px;
  cursor: none;
}

body {
  background: #ff8f57;
  min-height: 100vh;
}

@media (max-width: 1224px) {
  body {
    width: 100vw;
  }
}

a {
  cursor: pointer;
}

.cursor img {
  position: absolute;
  height: 125px;
  z-index: 2;
  -webkit-transform: translate(-20px, -60px);
          transform: translate(-20px, -60px);
  pointer-events: none;
}

@media (max-width: 430px) {
  .cursor img {
    height: 120px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 93px;
  width: 100vw;
}

@media (max-width: 1224px) {
  .main {
    padding: 15px 80px;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 10px 70px;
  }
}

@media (max-width: 430px) {
  .main {
    padding: 5px 0px;
  }
}

.logo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  color: #5a3d47;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.245em;
  text-transform: capitalize;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
}

@media (max-width: 430px) {
  .title {
    font-size: 40px;
  }
}

.logo-area img {
  width: 60px;
}

@media (max-width: 1224px) {
  .logo-area img {
    height: 95px;
    width: 95px;
  }
}

@media (max-width: 430px) {
  .logo-area img {
    height: 85px;
    width: 85px;
  }
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 38px;
  background: #5a3d47;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1224px) {
  footer {
    width: 100vw;
  }
}

@media (max-width: 768px) {
  footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 430px) {
  footer {
    height: 52px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.center,
.right {
  color: #fe7b1d;
  height: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: capitalize;
}

@media (max-width: 430px) {
  .center,
  .right {
    font-size: 20px;
  }
}

.right {
  position: absolute;
  right: 20px;
}

@media (max-width: 768px) {
  .right {
    position: relative;
    right: 0;
  }
}

@media (max-width: 430px) {
  .right {
    margin-top: 0.3em;
  }
}

.right a {
  text-transform: none;
  letter-spacing: 0.14em;
  color: #fe7b1d;
}
/*# sourceMappingURL=style.css.map */