.game-window {
  display: flex;
  flex-direction: column;
  width: 1254px;
  height: 774px;
  background: map-get($root, primary3);
  box-shadow: 1px 1px 15px 2px rgba(#906171, 0.4);
  border-radius: 53px;
  order: 0;
  margin: 22px 0px;
  @include lap {
    width: 1175px;
    height: 774px;
  }
  @include tab {
    width: 797px;
    height: 935px;
    padding: 2rem 0px;
  }
  @include mobile {
    width: 360px;
    height: 665px;
  }
}
.game-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1254px;
  height: 657px;
  @include lap {
    width: 1175px;
    height: 774px;
  }
  @include tab {
    width: 797px;

    flex-direction: column;
    justify-content: space-evenly;
  }
  @include mobile {
    width: 360px;
    height: 665px;
  }
}

.score,
.high-score {
  width: 334px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 31px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: map-get($root, accent);
}
.high-score {
  @include tab {
    order: 1;
  }
}
.score {
  @include tab {
    order: 2;
  }
}
.holes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  justify-items: center;
  @include tab {
    order: 3;
    height: 560px;
    width: 616px;
  }
  @include mobile {
    width: 321px;
    height: 423px;
    grid-gap: 3rem;
  }
}
.hole {
  position: relative;
  overflow: hidden;
  background-image: url("../assets/hole.png");
  width: 120px;
  height: 120px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 50%;
  @include mobile {
    width: 68.77px;
    height: 68.77px;
    background-size: 68.77px;
  }
}
.game-btm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1254px;
  height: 117px;
  @include tab {
    width: 797px;
  }
  @include mobile {
    flex-direction: column;
    width: 360px;
    height: 100px;

    justify-content: space-evenly;
  }
}
.btn-pri1-sec {
  height: 55.6px;
  width: 313px;
  background: map-get($root, primary1);
  color: map-get($root, secondary);
  border-radius: 66px;
  border: none;
  //   font styles
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
}
.btn-pri1-sec:hover {
  background: darken($color: map-get($root, primary1), $amount: 10%);
}
.dis-btn {
  display: none;
}
.mole {
  position: absolute;
  bottom: -5px;
  z-index: 1;
  height: 100px;
  animation: appear 0.3s linear;
  pointer-events: none;
  @include mobile {
    height: 55px;
  }
}
